@{
    ViewData["Title"] = "Minha Viagem, Viagens Pacotes para 2022 e muito mais";
}

<!--Slider-->
<div class="container">
    <img src="/img/ferias3.png" asp-append-version="true"  class="img-fluid" alt="...">
</div>
<!--Vantagens-->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img align="left" class="mx-3" src="ico/planet-earth.png" asp-append-version="true"  width="80" height="80" alt="Mundo">
                <h6 class="text-primary">Diversos Destinos</h6>
                <p class="text-primary">Milhares de opções para voce escolher e aproveitar</p>
            </div>
            <div class="col">
                <img align="left" class="mx-3" src="ico/calendar.png" width="80" height="80" alt="agendamento">
                <h6 class="text-primary">Melhor Agendamento</h6>
                <p class="text-primary">Você pode cancelar quando quiser,de um jeito rápido e fácil.</p>
            </div>
            <div class="col">
                <img align="left" class="mx-3" src="ico/user.png" width="80" height="80" alt="contato">
                <h6 class="text-primary">Estamos Prontos para atender</h6>
                <p class="text-primary ms-3">Fale com o nosso atendimento a qualquer momento do dia.</p>
            </div>
        </div>
    </div>
</section>
<!--Promoções-->
<section class="py-2">
    <div class="container">
        <h3>Promoções e Pacotes com os melhores preços</h3>
        <div class="row">
            <div class="col">
                <img class="img-thumbnail" src="img/promo1.png" alt="promo-carnaval" asp-append-version="true">
            </div>
            <div class="col">
                <img class="img-thumbnail" src="img/promo2.png" alt="promo-carnaval" asp-append-version="true">
            </div>
            <div class="col">
                <img class="img-thumbnail" src="img/promo3.png" alt="promo-carnaval" asp-append-version="true">
            </div>
        </div>
    </div>
</section>